	/*ajout du logo airbus */
	 div#view_9627 
	{
		font-family: arial, sans serif;
		/* background-image: url(https://www.airbus.com/etc/designs/airbus/airbus-aem-newairbus/clientlib-base/images/airbus.svg);
		background-size: 187px 60px;
		background-repeat: no-repeat; */
	/* 	padding-top: 50px; */
	} 
	
	.main-section-body.dashboard-body
	{
		color: #3c444d;
		background-color: #0d335f;
	}
	
	/*titre en blanc et gras*/
	.dashboard-header h2 
	{	
		font-weight: bold;
		font-size: 37px;
		color: #f2f4f5;
		word-wrap: break-word;
		text-transform: none;
		text-rendering: auto !important;
		line-height: initial;
		/* background-image: url(/pictures/Airbus_white.png); /*\pictures\Airbus_white.png
		background-image: url(https://www.airbus.com/etc/designs/airbus/airbus-aem-newairbus/clientlib-base/images/airbus.svg); 
		background-size: 198px 45px;
		background-repeat: no-repeat;
		padding-top: 50px; */
	}

	div#dashboard1
	{
		color: #0d335f;
		background-color: #0d335f;
	}
    
    div#view_2595 {
    margin-bottom: 0px;
	}
    
	/*réduction bordure entre les tuiles et le titre*/
	.fieldset 
	{
		margin-top: -30px;
	}
	
    body 
    {
          margin: 0;
          background: #f2f4f5;
          color: #3c444d;
          min-width: 960px;
    	  font-family: Arial,sans-serif; /*arial en police par défaut*/
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          transition: margin .2s;
    	  
		}
    
    /* sous titre du dashboard */
    p.description 
    {
    	font-style: normal;
    	font-size: 20px;
		color: #f4f4f4;
	}
    
	div#input1 
    {
    	float: right;
	}
    
    
    /* police des tuiles */
    svg.highcharts-root
    {
    	font-family: Arial, sans-serif !important;
	}
    
    /* taille des sous titres avec APD et BDE */
    h2.panel-title
    {
    	font-size: 24px !important;
    	text-align: center;
    	color:#0d335f;
      	font-weight:bold !important;
    }
      
    
    /* panel 1 */
	div#panel1 
    {
    	font-family: Arial, sans-serif !important;
        background-image: url(pictures/france.svg.png);
        background-size: 64px 45px;
        BACKFACE-VISIBILITY: INHERIT;
        padding-top: 47px;
    	background-repeat: no-repeat;
    	border-radius: 18px;
	
    } 
    
    /* panel 2 */
    div#panel2 
    {
    	font-family: Arial, sans-serif !important;
        background-image: url(pictures/france.svg.png);
        background-size: 64px 45px;
        BACKFACE-VISIBILITY: INHERIT;
        padding-top: 47px;
    	background-repeat: no-repeat;
    	border-radius: 18px;
	
    }
    
    /* panel 3 */
    div#panel3 
    {
    	font-family: Arial, sans-serif !important;
		background-image: url(pictures/germany.svg.png);
        background-size: 64px 45px;
        BACKFACE-VISIBILITY: INHERIT;
        padding-top: 47px;
    	background-repeat: no-repeat;
    	border-radius: 18px;
	}
    
    /* panel 4 */
    div#panel4 
    {
      font-family: Arial, sans-serif !important;
      background-image: url(pictures/germany.svg.png);
      background-size: 64px 45px;
      BACKFACE-VISIBILITY: INHERIT;
      padding-top: 47px;
      background-repeat: no-repeat;
      /*margin-top: 14px;*/
      border-radius: 18px;
	} 

    /* modif taille de la police sous le nombre d'événement  */
     h3 
    	{
    		font-style:normal ;
       		text-align: center;
    		font-size: 20px !important;
   			margin-bottom: 10px !important;
            font-weight:normal !important;
   		}
    
    text.under-label
    {
      font-size: 22px !important;
      text-align: center !important;
      color:#0d335f;
      font-style: bold ;
	}
    