	/*ajout du logo airbus */
	div#view_9676
	{
		font-family: arial, sans serif;
		background-image: url(pictures/Airbus.jpg);
		background-size: 187px 60px;
		background-repeat: no-repeat;
		padding-top: 50px;
	}
	
	.main-section-body.dashboard-body
	{
		color: #3c444d;
		background-color: #0d335f;
	}
	
	/*titre en blanc et gras*/
	.dashboard-header h2 
	{	
		font-weight: bold;
		font-size: 37px;
		color: #f2f4f5;
		word-wrap: break-word;
		text-transform: none;
		text-rendering: auto !important;
		line-height: initial;
	}

	div#dashboard1
	{
		color: #0d335f;
		background-color: #0d335f;
	}
    
    div#view_2595 {
    margin-bottom: 0px;
	}
    
	/*réduction bordure entre les tuiles et le titre*/
	.fieldset 
	{
		margin-top: -30px;
	}
	
    body 
    {
          margin: 0;
          background: #f2f4f5;
          color: #3c444d;
          min-width: 960px;
    	  font-family: Arial,sans-serif; /*arial en police par défaut*/
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          transition: margin .2s;
    	  
		}
    
    /* sous titre du dashboard */
    p.description 
    {
    	font-style: normal;
    	font-size: 20px;
		color: #f4f4f4;
	}
    
    
    /* police des tuiles */
    svg.highcharts-root
    {
    	font-family: Arial, sans-serif !important;
	}
    
    /* taille des sous titres avec APD et BDE */
    h2.panel-title
    {
    	font-size: 24px !important;
    	text-align: center;
    	color:#0d335f;
      	font-weight:bold !important;
    }
      

    /* modif taille de la police sous le nombre d'événement  */
     h3 
    	{
    		font-style:normal ;
       		text-align: center;
    		font-size: 20px !important;
   			margin-bottom: 10px !important;
            font-weight:normal !important;
   		}
    
    text.under-label
    {
      font-size: 22px !important;
      text-align: center !important;
      color:#0d335f;
      font-style: bold ;
	}
    
	text.single-result 
    {
    	fill: white !important;
	}
	
	svg.svg-container 
    {
    background-color: #1d5ba2f5;
 
	}